#--cpu:riscv64
#--os:standalone
#--stackTrace:off
#--cc:clang
#--clib:m
#--clib:gloss
#--threads:off
#-d:useMalloc

#riscv64.standalone.clang.exe = "riscv64-unknown-elf-clang"
#riscv64.standalone.clang.linkerexe = "riscv64-unknown-elf-clang"
#riscv64.standalone.clang.linker = "-march=rv64ima -T riscv64ima_zisk_zkvm_linker_script.ld"
#riscv64.standalone.clang.always = "-march=rv64ima -mcmodel=medany"
